<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  namespace: 必须与对应的 Mapper 接口全限定名完全一致
-->
<mapper namespace="com.qinghuan.user.UserMapper">
    <insert id="saveAccount" parameterType="com.qinghuan.pojo.entity.UserAccount">
        insert into user_account(login_name, password_hash, display_name, phone, role_code, venue_id, status)
        values (#{loginName}, #{passwordHash}, #{displayName}, #{phone}, #{roleCode}, #{venueId}, #{status})
    </insert>
    <select id="getAccountByLoginNameAndPasswordHash" resultType="com.qinghuan.pojo.entity.UserAccount">
        select id, login_name, password_hash, display_name, phone, role_code, venue_id, status from user_account where login_name = #{loginName} and password_hash = #{passwordHash}
    </select>
    <select id="getAccountByLoginName" resultType="com.qinghuan.pojo.entity.UserAccount">
        select id, login_name, password_hash, display_name, phone, role_code, venue_id, status from user_account where login_name = #{loginName}
    </select>

</mapper>
